streamlit
pandas
numpy
pyodbc
pycryptodome
configparser
beautifulsoup4
requests
opencv-python-headless
streamlit-camera-input-live
libgl1
libzbar0
libzbar-dev
libsm6
libxrender1
libfontconfig1
libice6
