# Other packages from your requirements.txt
streamlit
pandas
numpy
pyodbc
pycryptodome
configparser
beautifulsoup4
requests

# Install zbar from GitHub repository
git+https://github.com/mchehab/zbar
