streamlit
pandas
numpy
pyodbc
pycryptodome
configparser
beautifulsoup4
requests
opencv-python
pyzbar

git clone https://github.com/mchehab/zbar.git
cd zbar
git checkout a549566ea11eb03622bd4458a1728ffe3f589163
# Perform any necessary build steps or installation procedures specified in the repository
